spring:
  application:
    name: enrollment-service

  datasource:
    url: jdbc:mysql://localhost:3306/enrollment_course_enrol?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 19649072Sever

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true