spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_course_enrol?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 19649072Sever

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8082